<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家搜索</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="headTop shousuo">
    <div class="search">
        <p><img src="../../image/search.png" alt=""/></p>
        <input type="text" placeholder="搜索您想找的商家"/>
    </div>
</div>
<div class="content">
    <ul>
        <li>
            <a href="#">
                <div class="listCont">
                    <div class="iconbox">
                        <img src="../../image/touxiang.png" alt=""/>
                    </div>
                    <div class="companyName">
                        <p><b>深圳润田经销商</b> （张总）</p>
                        <p>深圳市宝安区</p>
                    </div>
                    <div class="Authentication">
                        <span>已认证</span>
                    </div>
                </div>
                <p>
                    <span class="TheMain">主营业务 : </span>
                    <span class="span1"> 二手挖掘机，破碎锤，大型翻斗车</span>
                </p>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="listCont">
                    <div class="iconbox">
                        <img src="../../image/touxiang.png" alt=""/>
                    </div>
                    <div class="companyName">
                        <p><b>深圳润田经销商</b> （张总）</p>
                        <p>深圳市宝安区</p>
                    </div>
                    <div class="Authentication">
                        <span>已认证</span>
                    </div>
                </div>
                <p>
                    <span class="TheMain">主营业务 : </span>
                    <span class="span1"> 二手挖掘机，破碎锤，大型翻斗车</span>
                </p>
            </a>
        </li>
    </ul>
</div>
</body>
</html>