<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="baner">
    <img src="../../image/title.png" alt=""/>
    <div class="userCont">
        <p class="Villain"><img src="../../image/ren.png" alt=""/></p>
        <p class="userIntroduce">
            <span class="daiV">润田经销商 (王世聪)<img src="../../image/V.png" alt=""/></span>
            <span>1998人推荐</span>
        </p>
        <!-- 点赞 // 送心-->
        <p class="dainzan">
            <span><img src="../../image/zhan.png" alt=""/></span>
            <span><img src="../../image/shouchang.png" alt=""/></span>
        </p>
    </div>
</div>
<div class="xiala">
    <div class="scring">
        <ul>
            <li class="clastion">
                分类
                <img src="../../image/on_bottom.png" alt=""/>
            </li>
            <li class="ReseTime">
                发布时间
                <img src="../../image/on_bottom.png" alt=""/>
            </li>
        </ul>
    </div>
    <div class="grade">
        <ul class="grade-A ejectAll">
            <li>挖掘机</li>
            <li>破碎锤</li>
            <li>油封悲剧</li>
            <li>挖掘机</li>
            <li>破碎锤</li>
            <li>油封悲剧</li>
            <li>挖掘机</li>
            <li>破碎锤</li>
            <li>油封悲剧</li>
        </ul>
        <ul class="grade-B ejectAll">
            <li>2016/12/12</li>
            <li>2017/2/12</li>
            <li>2017/2/13</li>
        </ul>
    </div>
</div>
<div class="classContent">
    <ul>
        <li>
            <div class="classImg">
                <img src="../../image/listimg.jpg" alt=""/>
            </div>
            <div class="classcont">
                <p><b>韩国工兵破碎锤</b></p>
                <p>品牌 : 韩国工兵</p>
                <p>价格 : <span class="price">0.9万</span></p>
                <p>经销商 : <span>2017/10/10</span></p>
                <p>地址 : <span>深圳市南山区</span></p>
            </div>
        </li>
    </ul>
</div>
<script src="../../public/js/jquery-1.9.1.min.js"></script>
<script src="../../public/js/public.js"></script>
</body>
</html>















