<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布详情</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="bjMap">
    <img src="../../image/Sbj.png" alt=""/>
    <p class="bjBtn">
        <img src="../../image/camera.png" alt=""/><br/>
        <span class="file"><input type="file"/></span>
    </p>
    <span class="Prompt">上传商品图片</span>
</div>
<div class="biaoti">
    <div class="title">
        <span>标题</span>
        <input type="text" placeholder="商品标题"/>
    </div>
    <div class="textq">
        <textarea name="" id="" cols="40" rows="5" placeholder="输入补充的信息...."></textarea>
    </div>
</div>
<div class="inforlist">
    <div class="list1 borderAll">
        <span>类别</span>
        <input type="text" placeholder="请输入您要发布的商品类型"/>
    </div>
    <div class="list1 borderAll">
        <span>品牌</span>
        <input type="text" placeholder="请输入品牌名称"/>
    </div>
    <div class="list1 borderAll">
        <span>价格</span>
        <input type="text" placeholder="请输入金额"/>
    </div>
    <div class="list1 borderAll">
        <span>手机号码</span>
        <input type="text" placeholder="请输入手机号码"/>
    </div>
    <div class="list1 borderAll">
        <span>QQ号码</span>
        <input type="text" placeholder="请输入QQ号码"/>
    </div>
    <div class="list1 borderAll">
        <span>地区</span>
        <input type="text" placeholder="请输入省市区地址"/>
    </div>
    <div class="list1 borderAll">
        <span>详细地址</span>
        <input type="text" placeholder="请输入详细地址"/>
    </div>
</div>
<footer>
    <button class="fabu" type="button">发布</button>
</footer>
</body>
</html>