<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择（商家）</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="listManufa">
    <ul>
        <li><a href="#">挖掘机 <img src="../../image/on_right.png" alt=""/></a></li>
        <li><a href="#">破碎锤 <img src="../../image/on_right.png" alt=""/></a></li>
        <li><a href="#">挖掘机配件 <img src="../../image/on_right.png" alt=""/></a></li>
        <li><a href="#">破碎锤配件 <img src="../../image/on_right.png" alt=""/></a></li>
        <li><a href="#">其他工程机械设备 <img src="../../image/on_right.png" alt=""/></a></li>
        <li><a href="#">维修 <img src="../../image/on_right.png" alt=""/></a></li>
    </ul>
</div>
</body>
</html>