<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布提示</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
    <div class="tips">
        <img src="../../image/fbok.png" alt=""/>
        <p>发布成功</p>
        <div class="jihui">
            <a href="#">再发一条</a>
            <a href="#">返回首页</a>
        </div>
    </div>
</body>
</html>