html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}
html {
  font-size: 14px !important;
}
body {
  font-family: PingFang-SC-Regular, 'MicrosoftYaHei', arial, sans-serif;
  background: #f5f5f6;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
a {
  color: #111;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  color: #111111;
  outline: 0;
  box-sizing: border-box;
}
body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
input,
textarea,
select {
  outline: none;
}
input[type=button],
input[type=submit],
input[type=file] {
  -webkit-appearance: none;
  outline: none;
  width: 100%;
}
.clearOver {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.themeColor {
  background: #f4bd44;
}
.borderAll {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.borderBottom {
  border-bottom: 1px solid #e6e6e6;
}
.inputAll {
  width: 80%;
  height: 3rem;
  background: #fff;
  border: 0;
  margin-bottom: 0.6rem;
  border-radius: 0.3rem;
  padding: 0 0.8rem;
  font-size: 1rem;
}
.btnAll {
  width: 80%;
  height: 3rem;
  line-height: 2.5rem;
  border: 0;
  border-radius: 0.3rem;
  color: #fff;
  padding: 0 0.8rem;
  margin: 0 auto;
  background: #04b7e3;
  font-size: 1rem;
  -webkit-appearance: none;
  outline: none;
}
.pbcCenter {
  text-align: center;
}
/***����****/
.classification {
  width: 100%;
  position: relative;
}
.classification .yiji {
  font-size: 0;
}
.classification .yiji ul {
  background: #fff;
}
.classification .yiji ul li {
  display: inline-block;
  font-size: 1rem;
  width: 25%;
  text-align: center;
  line-height: 3.5rem;
}
.classification .yiji ul li img {
  width: 0.7rem;
  vertical-align: middle;
  margin-left: 0.2rem;
}
.classification .erji1 {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 25%;
  background: #fff;
  padding: 0 0.6rem;
  border: 1px solid #e6e6e6;
  border-top: 0;
  border-left: 0;
  display: none;
}
.classification .erji1 ul li {
  line-height: 2.8rem;
  text-align: center;
}
/* demo-content */
.demo-content {
  padding-top: 3rem;
}
/*����*/
.screening {
  width: 100%;
  height: 3rem;
  font-size: 0;
}
.screening ul li {
  width: 25%;
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
  line-height: 3rem;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding-right: 26px;
  background: #ffffff url("../../image/on_bottom.png") no-repeat center right 12px;
}
.screening ul li img {
  width: 0.6rem;
  vertical-align: middle;
  margin-left: 0.2rem;
}
.screening ul .source {
  border-right: 0;
}
/*����*/
.grade-eject {
  width: 100%;
  position: relative;
}
.ejectAll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  overflow-y: auto;
  max-height: 18rem;
  margin-top: 0.1rem;
  z-index: 100;
}
.ejectAll > li {
  line-height: 2.2rem;
  padding-left: 1.2rem ;
  border-bottom: 1px solid #e6e6e6;
  font-size: 0.8rem;
  background: #fff;
}
.ejectAll li img {
  float: right;
  width: 0.4rem;
  margin: 0.8rem 1rem 0 0;
}
.headTop {
  width: 100%;
  height: 3.1rem;
  background: #04b7e3;
  overflow: hidden;
}
.headTop .search {
  width: 65%;
  margin-left: 17.5%;
  position: relative;
  line-height: 3.1rem;
}
.headTop .search p {
  position: absolute;
  top: 0.1rem;
  left: 0.8rem;
}
.headTop .search p img {
  width: 0.8rem;
}
.headTop .search input {
  width: 100%;
  height: 2rem;
  border-radius: 1.5rem;
  padding-left: 2rem;
  border: 0;
}
.headTop .Release {
  width: 17.5%;
  line-height: 3.1rem;
}
.headTop .Release a {
  color: #fff;
}
.headTop div {
  float: left;
  text-align: center;
  line-height: 2.6rem;
}
.banner .swiper-wrapper {
  height: 12rem;
}
.banner .swiper-slide {
  text-align: center;
  line-height: 12rem;
  font-size: 2.5rem;
}
.banner .swiper-slide img {
  width: 100%;
  height: 100%;
}
.nav {
  height: 15rem;
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
}
.nav ul li {
  width: 25%;
  text-align: center;
  float: left;
}
.nav ul li a {
  display: inline-block;
  height: 5rem;
}
.nav ul li a img {
  width: 2.6rem;
  margin-top: 0.9rem;
}
.nav ul li a p {
  color: #111;
  font-size: 0.9rem;
}
.nav ul li a .iocn-1 {
  margin-top: 0.8rem;
}


.content1 ul li .weui-cell .lt{
  float: left;
}
.content1 ul li .weui-cell .weui-cell__bd{
  width: 20%;
  text-align: center;
  padding: 6px 0;
  vertical-align: middle;
}
.content1 ul li .weui-cell .weui-cell__ft{
  width: 80%;
  padding: 6px 0;

}
.content1 ul li .weui-cell .weui-cell__ft p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.content1 ul li .weui-cell .weui-cell__bd img{
  width: 80%;
  height: 80%;
  border-radius:50% ;
  vertical-align: middle;
}
.content {
  width: 100%;
}
.content .hot {
  width: 100%;
  text-align: center;
  padding: 0.6rem 0;
}
.content ul li {
  width: 100%;
  background: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  overflow-x: hidden;
}
.content ul li a {
  color: #333;
}
.content ul li a .listCont {
  height: 4.5rem;
  border-bottom: 1px solid #ddd;
}
.content ul li a .listCont div {
  float: left;
}
.content ul li a .listCont .iconbox {
  width: 22%;
  height: 70%;
}
.content ul li a .listCont .iconbox img {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin: 0.5rem auto 0;
}
.content ul li a .listCont .companyName {
  margin-top: 0.9rem;
  width: 58%;
}
.content ul li a .listCont .companyName p {
  line-height: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.content ul li a .listCont .Authentication span {
  text-align: center;
  display: inline-block;
  width: 3.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  background: #00a3cc;
  color: #fff;
  border-radius: 3px;
  margin-top: 1.4rem;
}
.content ul li a > p {
  width: 100%;
  font-size: 0rem;
  color: #333;
  margin-left: 0.2rem;
  vertical-align: middle;
  overflow: hidden;
}
.content ul li a > p span {
  float: left;
}
.content ul li a > p .TheMain {
  width: 5rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9rem;
}
.content ul li a > p .span1 {
  width: 72%;
  height: 1.6rem;
  line-height: 1.6rem;
  color: #8a8a8a;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9rem;
  margin-top: 0.4rem;
}
.footerNav {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3.4rem;
  border-top: 1px solid #ddd;
  background: #fff;
  z-index:500;
}
.footerNav ul li {
  float: left;
  width: 25%;
  text-align: center;
  padding: 0.4rem;
  box-sizing: border-box;
}
.footerNav ul li a {
  color: #8a8a8a;
}
.footerNav ul li a img {
  width: 1.4rem;
}
.footerNav ul li a .foter-nav-f {
  width: 1.6rem;
  margin-bottom: 0.3rem;
}
.footerNav ul li a p {
  font-size: 0.7rem;
}
/*发布服务消息*/
.biaoti {
  width: 100%;
  padding: 0.4rem 0.6rem;
  box-sizing: border-box;
  background: #fff;
  margin: 0.4rem 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.biaoti .title {
  height: 1.8rem;
  border-bottom: 1px solid #e6e6e6;
}
.biaoti .title span {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.2rem;
}
.biaoti .title input {
  border: 0;
  font-size: 1rem;
}
.biaoti .textq {
  padding: 0.4rem 0;
}
.biaoti .textq textarea {
  width: 100%;
  border: 0;
  font-size: 1rem;
}
.inforlist .list1 {
  background: #fff;
  line-height: 3rem;
  padding: 0 0.6rem;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
}
.inforlist .list1 span {
  display: inline-block;
  width: 4.5rem;
}
.inforlist .list1 a {
  color: #a8a8a8;
}
.inforlist .list1 img {
  float: right;
  margin: 1.2rem 0.5rem;
}
.inforlist .list1 input {
  font-size: 1rem;
  border: 0;
}
/*发布详情*/
.fabu {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background: #04b7e3;
  font-size: 1.1rem;
  color: #fff;
  border: 0;
}
/*支付*/
.Total {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  padding: 0 0.6rem;
  background: #fff;
  margin: 0.4rem 0;
  box-sizing: border-box;
}
.Total span {
  font-size: 1rem;
}
.Total .num {
  color: #b02023;
  float: right;
}
.PaymentType {
  margin-bottom: 1.4rem;
}
.PaymentType .bao {
  background: #fff;
  line-height: 3rem;
  padding: 0 0.6rem;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
}
.PaymentType .bao img {
  width: 1.8rem;
  vertical-align: middle;
  margin-right: 0.6rem;
}
/*搜索*/
.shousuo {
  margin-bottom: 0.4rem;
}
.gengduo {
  width: 100%;
  text-align: center;
  margin: 4rem 0;
  color: #8a8a8a;
}
.xiala {
  position: relative;
}
.xiala .scring {
  width: 100%;
  height: 3rem;
  font-size: 0;
}
.xiala .scring ul {
  background: #fff;
}
.xiala .scring ul li {
  width: 50%;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  line-height: 3rem;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.xiala .scring ul li img {
  width: 0.6rem;
  vertical-align: middle;
  margin-left: 0.4rem;
}
.xiala .grade {
  width: 100%;
  position: absolute;
  top: 3.1rem;
  background: #fff;
  border-right: 1px solid #e6e6e6;
}
.xiala .grade .ejectAll {
  display: none;
  overflow-y: auto;
  margin-top: 0.1rem;
}
.xiala .grade .ejectAll li {
  line-height: 3rem;
  padding-left: 1.2rem ;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1rem;
  background: #fff;
}
.xiala .grade .ejectAll li img {
  float: right;
  width: 0.4rem;
  margin: 0.4rem 1rem 0 0;
}
/*发布提示*/
.tips {
  text-align: center;
  margin-top: 3rem;
  font-size: 1rem;
}
.tips img {
  width: 6rem;
}
.tips p {
  margin-top: 0.6rem;
  color: #04b7e3;
  font-size: 1.1rem;
}
.tips .jihui {
  margin-top: 0.4rem;
}
.tips .jihui a {
  padding: 0 1.2rem;
  font-size: 1.1rem;
}
.login {
  width: 100%;
}
.login .logo {
  text-align: center;
  margin: 3rem 0 1rem;
}
.login .form {
  text-align: center;
}
.login .Other {
  width: 80%;
  margin: 0.4rem auto;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: 1rem;
}
.login .Other > span {
  color: #8a8a8a;
}
.login .Other .register {
  color: red;
}
.login .Other .forgetPwd {
  float: right;
  color: #8a8a8a;
}
/***********ע��***********/
.register {
  width: 100%;
  text-align: center;
  margin-top: 2.2rem;
}
.register .inpt {
  width: 70%;
  height: 3rem;
  border: 0;
  border-radius: 0.4rem;
  margin: 0.6rem 0;
}
.register .code {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.register .code .num {
  width: 55%;
  float: left;
  margin: 0 auto 0.6rem;
  padding-left: 0.8rem;
  font-size: 1rem;
}
.register .code .onbtn {
  float: right;
  width: 35%;
  height: 3rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: .9rem;
  background: #04b7e3;
  color: #fff;
  margin: 0 auto 0.6rem;
  border: 0;
  border-radius: 0.4rem;
}
.register .Aradio {
  text-align: center;
  line-height: 2.8rem;
}
.register .Aradio > label {
  color: #8a8a8a;
}
.register .Aradio label {
  display: inline-block;
  width: 5rem;
}
.register .Aradio .Fruit {
  font-size: 1rem;
}
.register .NextStep > button {
  display: block;
  width: 80%;
  height: 3rem;
  line-height: 2.5rem;
  background: #04b7e3;
  border: 0;
  border-radius: 0.3rem;
  margin: 0.8rem auto;
  color: #fff;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.register .imy {
  width: 80%;
  margin: 0.4rem auto;
  text-align: left;
  font-size: 1rem;
}
.register .imy input {
  width: 1.2rem;
}
.register .imy span {
  color: red;
}
/**************�����һ�***************/
.forget {
  width: 100%;
  text-align: center;
}
.forget input {
  border-radius: 0.4rem;
  margin: 3rem 0 1rem;
  font-size: 1rem;
}
.forget .lbtn {
  width: 70%;
  height: 2.5rem;
  border: 0;
  border-radius: 0.4rem;
  background: #fff;
  color: #f9d16a;
}
/*��������*/
.Countdown {
  width: 70%;
  font-size: 1rem;
  color: #8a8a8a;
  margin: 3rem auto 1rem;
}
.Countdown span {
  color: #e21629;
}
/*�޸�����*/
.modify {
  margin-top: 1.6rem;
}
.modify > input.inputAll {
  background: #fff;
}
.modify .btnAll {
  background: #04b7e3;
  color: #fff;
}
/*ѡ�񣨳��ң�*/
.dsklj {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.listManufa {
  width: 100%;
  margin-top: 0.4rem;
  box-sizing: border-box;
}
.listManufa ul {
  box-sizing: border-box;
}
.listManufa ul li {
  width: 100%;
  line-height: 3.1rem;
  padding-left: 1rem;
  background: #fff;
  margin-bottom: 0.4rem;
  font-size: 1rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.listManufa ul li.active {
  background: #eee;
}
.listManufa ul li img {
  float: right;
  margin: 1.2rem 1rem 0 0;
  width: 1rem;
}
/*ѡ�񳧼�*/
.erjicai {
  width: 100%;
  margin-top: 0.4rem;
  position: absolute;
  top: 0;
  left: 100%;
  background: #eee;
}
.erjicai ul li {
  line-height: 3.1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
  font-size: 1rem;
}
.erjicai ul li img {
  float: right;
  margin: 1.2rem 1rem 0 0;
  width: 0.4rem;
}
/*�����ؼ���*/
.search {
  width: 100%;
  height: 4.2rem;
  background: #04b7e3;
}
.search form {
  width: 70%;
  position: relative;
  margin: 0 auto;
}
.search form img {
  width: 0.9rem;
  position: absolute;
  top: 1rem;
  left: 0.6rem;
}
.search form input {
  width: 100%;
  height: 3rem;
  border: 0;
  padding-left: 2rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
  border-radius: 2rem;
}
.classNav {
  width: 100%;
  height: 2.6rem;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
  margin-bottom: 0.4rem;
}
.classNav ul {
  font-size: 0;
}
.classNav ul li {
  display: inline-block;
  width: 25%;
  line-height: 2.6rem;
  text-align: center;
}
.classNav ul li a {
  font-size: 1rem;
  color: #111;
}
.classNav ul .active a {
  color: #04b7e3;
}
.classCont {
  width: 100%;
}
.classCont .show {
  display: inline-block;
}
.neweQuipment {
  width: 100%;
  display: none;
}
.neweQuipment ul {
  width: 100%;
}
.neweQuipment ul li {
  background: #fff;
  margin-bottom: 0.4rem;
  border-top: 1px solid #e6e6e6;
}
.neweQuipment ul li .title {
  padding: 0 0.6rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
}
.neweQuipment ul li .addsAndprice {
  padding: 0 0.6rem;
  border-bottom: 1px solid #e6e6e6;
  height: 1.6rem;
  font-size: 0.95rem;
}
.neweQuipment ul li .addsAndprice .price {
  color: red;
  margin-left: 2rem;
}
.neweQuipment ul li .time {
  width: 100%;
  line-height: 2.8rem;
  font-size: 0;
  padding: 0 0.6rem;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
}
.neweQuipment ul li .time span {
  display: inline-block;
  width: 50%;
  font-size: 0.9rem;
  color: #8a8a8a;
}
.neweQuipment ul li .time a {
  display: inline-block;
  width: 50%;
  text-align: right;
}
.neweQuipment ul li .time a img {
  width: 6rem;
  vertical-align: middle;
}
/*��������*/
.classification form {
  font-size: 0;
}
.classification form div {
  width: 25%;
  display: inline-block;
  text-align: center;
}
.classification form div select {
  width: 100%;
  height: 2.8rem;
  border: 0;
  padding-left: 0.6rem;
}
.classification form div .clas3 option {
  font-size: 0.6rem;
}
.classContent {
  width: 100%;
}
.classContent > ul li {
  padding: 0.4rem 0.8rem;
  background: #fff;
  margin: 0.4rem 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}
.classContent > ul li div {
  float: left;
}
.classContent > ul li .classImg {
  margin-right: 0.6rem;
}
.classContent > ul li .classImg img {
  width: 5rem;
  height: 5rem;
}
.classContent > ul li .classcont p {
  line-height: 1.3rem;
  font-size: 0.8rem;
}
.classContent > ul li .classcont p b {
  font-size: 0.9rem;
}
.classContent > ul li .classcont p .price {
  color: #e62129;
}
.classContent > ul li .classcont .dizi {
  display: inline-block;
  width: 64%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.classContent > ul li > .shanchu {
  float: right;
  margin-top: 4rem;
  border: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.6rem;
  color: #fff;
}
.classContent > ul li > .shanchu img {
  width: 1.6rem;
}
/*����*/
.Model {
  width: 100%;
  padding: 0.6rem;
  box-sizing: border-box;
  margin: 0.4rem 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
}
.Model .Modell {
  line-height: 2rem;
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}
.Model .Modell a {
  float: right;
  width: 6rem;
  line-height: 1.8rem;
  background: #04b7e3;
  border-radius: 0.4rem;
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
}
.Model .Model-cont {
  height: 1.4rem;
  font-size: 0;
}
.Model .Model-cont .Price {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  color: red;
}
.Model .Model-cont .CollRead {
  font-size: 1rem;
  display: inline-block;
  width: 50%;
  text-align: right;
}
.Model .Model-cont .CollRead .Collection {
  font-size: 0.9rem;
  margin-right: 0.8rem;
}
.Model .Model-cont .CollRead .Collection img {
  width: 1.4rem;
  vertical-align: middle;
  margin-right: 0.4rem;
  margin-bottom: 0.2rem;
}
.Model .Model-cont .CollRead .Read {
  font-size: 0.9rem;
}
.Model .Model-cont .CollRead .Read img {
  width: 1.4rem;
  vertical-align: middle;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}
/*��������*/
.DetailsIntro {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
  padding: 0 0.6rem;
  box-sizing: border-box;
}
.DetailsIntro .deinro {
  height: 2.4rem;
  line-height: 2.4rem;
  border-bottom: 1px solid #e6e6e6;
}
.DetailsIntro .DetailsCont {
  margin: 0.6rem 0 0.4rem;
  font-size: 0.9rem;
  height: 7rem;
  overflow: hidden;
  padding-bottom: 1.2rem;
  position: relative;
}
.DetailsIntro .DetailsCont a {
  color: #04b7e3;
  position: absolute;
  bottom: 0;
  right: 0;
}
.SeeMerchant {
  line-height: 3rem;
  background: #fff;
  margin: 0.4rem 0;
  padding: 0 0.6rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.SeeMerchant a {
  display: inline-block;
  width: 100%;
  line-height: 2.6rem;
  color: #111111;
}
.SeeMerchant a img {
  float: right;
  margin: 1rem 1rem 0 0;
  width: 0.8rem;
}
.foterNav {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0;
  background: #fff;
  border-top: 1px solid #e6e6e6;
}
.foterNav li {
  display: inline-block;
  width: 33%;
  line-height: 3rem;
  text-align: center;
  font-size: 1rem;
}
.foterNav li a {
  color: #111;
}
.foterNav li a img {
  width: 1.6rem;
  vertical-align: middle;
  margin-right: 0.3rem;
}
.foterNav .code2 {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
/*�⹱����*/
.model-box {
  width: 100%;
  padding: 0.6rem;
  padding-bottom: 0;
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
  margin-bottom: 0.4rem;
}
.model-box .Modell {
  line-height: 2rem;
  font-size: 1.1rem;
}
.model-box .Model-cont {
  font-size: 0;
  line-height: 1.6rem;
}
.model-box .Model-cont .Price {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  color: red;
}
.model-box .Model-cont .CollRead {
  font-size: 1rem;
  display: inline-block;
  width: 50%;
  text-align: right;
}
.model-box .Model-cont .CollRead .Read {
  font-size: 0.9rem;
  color: #8a8a8a;
}
.model-box .Model-cont .CollRead .Read img {
  width: 1.2rem;
  vertical-align: middle;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}
.SeeMe {
  margin-bottom: 3.4rem;
}
.SeeMerchant .see1 {
  color: #8a8a8a;
}
.SeeMerchant span {
  font-size: 0.9rem;
}
/*������Ϣ*/
.intention .fillln1 {
  width: 100%;
  line-height: 1.3rem;
  padding: 0.6rem;
  font-size: 0.9rem;
  box-sizing: border-box;
}
.intention .Product {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  padding: 0.6rem;
  background: #fff;
  box-sizing: border-box;
}
.intention .Product .title {
  margin-bottom: 0.4rem;
  font-weight: 600;
}
.intention .Product .ProductCont {
  overflow: hidden;
  position: relative;
}
.intention .Product .ProductCont > img {
  width: 6rem;
  float: left;
  margin-right: 0.8rem;
}
.intention .Product .ProductCont .info {
  float: left;
}
.intention .Product .ProductCont .info span {
  display: block;
  margin-bottom: 0.6rem;
}
.intention .Product .ProductCont .info .Price {
  font-size: 0.9rem;
  color: #e62129;
}
.intention .Product .ProductCont .on-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.intention .Product .ProductCont .on-right img {
  width: 1.8rem;
}
.PersonalInfo {
  font-size: 1rem;
  margin-bottom: 4.2rem;
}
.PersonalInfo .name {
  line-height: 2rem;
  padding: 0.4rem 0.6rem;
  margin: 0.4rem 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #fff;
}
.PersonalInfo .name span {
  display: inline-block;
  width: 14%;
  text-align: left;
  color: #333;
}
.PersonalInfo .name input {
  color: #333;
  border: 0;
  font-size: 0.9rem;
}
.PersonalInfo .title {
  padding: 0 0.6rem 0.4rem;
}
.PersonalInfo .texta {
  width: 100%;
  padding: 1.2rem;
  box-sizing: border-box;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.PersonalInfo .texta textarea {
  width: 100%;
  border: 0;
  font-size: 0.9rem;
}
.Isubmit {
  width: 100%;
  height: 3.2rem;
  line-height: 2.6rem;
  border: 0;
  color: #fff;
  padding: 0 0.8rem;
  margin: 0 auto;
  background: #04b7e3;
  position: fixed;
  bottom: 0;
  font-size: 1.1rem;
}
.chenggong {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -3rem;
  margin-top: -8rem;
  width: 8rem;
  height: 8rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.6rem ;
  color: #fff;
}
.chenggong img {
  margin: 1rem 0 1.2rem 3rem;
}
.chenggong span {
  margin-left: 2rem;
  font-size: 1.2rem;
}
.addressAll{
  margin-bottom: 4rem;
}
.addressAll .address {
  width: 100%;
  background: #fff;
  margin: 0.4rem 0;
  font-size: 1rem;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.addressAll .address .namePhone {
  height: 3.4rem;
  line-height: 3.4rem;
  border-bottom: 1px solid #ebebec;
  padding-left: 18px;
}
.addressAll .address .namePhone .default {
  float: right;
  margin-right: 2.8rem;
  display: inline-block;
  width: 2.6rem;
  height: 1.4rem;
  background: #04b7e3;
  text-align: center;
  border-radius: 0.3rem;
  color: #fff;
}
.addressAll .address .namePhone img {
  width: 1.2rem;
  vertical-align: middle;
  margin: 0 0.5rem 0.2rem 0;
}
.addressAll .address .DetailedAdds {
  display: block;
  color: #333;
  width: 100%;
  line-height: 2.8rem;
}
.addressAll .address .DetailedAdds img {
  width: 1.3rem;
  vertical-align: middle;
  margin: 0 0.5rem 0.2rem 0;
}
section {
  position: relative;
  overflow-x: hidden;
}
/*�ҵ�*/
.myBox .personalData {
  width: 100%;
  background: #fff;
  padding: 0.6rem 0.4rem;
  overflow: hidden;
  margin-bottom: 0.6rem;
  box-sizing: border-box;
}
.myBox .personalData div {
  float: left;
}
.myBox .personalData .Head {
  width: 25%;
}
.myBox .personalData .Head p {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin: 0 auto;
}
.myBox .personalData .Head p img {
  width: 3.5rem;
}
.myBox .personalData .nameEnterprise {
  width: 46%;
  font-size: 1rem;
  height: 3rem;
}
.myBox .personalData .nameEnterprise .name {
  color: #333;
  margin-top: 0.4rem ;
  height: 1.2rem;
}
.myBox .personalData .nameEnterprise .Enterprise {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.myBox .personalData .editData {
  display: inline-block;
  line-height: 3.5rem;
  font-size: 1rem;
  color: #333;
}
.myBox .personalData .editData img {
  width: 1rem;
  vertical-align: middle;
  margin-top: -0.2rem;
}
.myBox .Authentication {
  font-size: 0.9rem;
  padding: 0 1.6rem;
  background: #fff;
  height: 2.8rem;
}
.myBox .Authentication span {
  color: red;
  line-height: 2.8rem;
}
.myBox .Authentication a {
  float: right;
  line-height: 2.8rem;
  color: #c1c1c1;
}
/*�༭����*/
.edit {
  width: 100%;
}
.edit .SetAvatar {
  padding: 0 0.6rem;
  background: #fff;
  height: 3.5rem;
  line-height: 3.5rem;
}
.edit .SetAvatar span {
  color: #333;
}
.edit .SetAvatar .setImg {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  float: right;
  margin: 0.2rem 1.2rem 0 0;
  position: relative;
  overflow: hidden;
}
.edit .SetAvatar .setImg img {
  width: 3rem;
}
.edit .SetAvatar .setImg input {
  position: absolute;
  top: 12px;
  left: -12px;
  opacity: 0;
}
.edit .title {
  padding-left: 0.6rem;
  line-height: 2rem;
}
.edit .PersonalInf .name {
  line-height: 2.2rem;
  padding: 0.4rem 0.6rem;
  background: #fff;
}
.edit .PersonalInf .name > span {
  display: inline-block;
  width: 12%;
  color: #5f5f5f;
  text-align: left;
}
.edit .PersonalInf .name input {
  color: #333;
  border: 0;
  font-size: 1rem;
}
.edit .PersonalInf .name2 {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
.edit .PersonalInf .name4 {
  border-top: 1px solid #e6e6e6;
}
.edit .PersonalInf .texta {
  width: 95%;
}
.edit .PersonalInf .texta textarea {
  width: 100%;
  border: 0;
  margin-left: 1rem;
}
/*�̼���Ϣ*/
.baner {
  width: 100%;
  height: 10rem;
}
.baner > img {
  width: 100%;
  height: 100%;
}
.main .SeeMerchant span {
  font-size: 1rem;
}
.main .SeeMerchant .seeimg {
  margin: 0.6rem 0 0;
  width: 1.6rem;
}
.main .SeeMerchant a {
  font-size: 1rem;
}
.main .chakanbtn button {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background: #04b7e3;
  color: #fff;
  border: 0;
  font-size: 1rem;
}
/*�鿴��ϵ��ʽ����*/
.yijizhe {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.tankuang {
  width: 80%;
  position: absolute;
  top: 30%;
  left: 0%;
  margin-top: 2rem ;
  margin-left: 2rem;
  background: #fff;
  border-radius: 0.6rem;
  border: 1px #8a8a8a solid ;
  overflow: hidden;
  z-index: 1;
}
.tankuang ul li .tab1 {
  text-align: center;
  line-height: 3rem;
  border-bottom: 1px solid #8a8a8a ;
}
.tankuang ul li button {
  width: 100%;
  border: 0;
  line-height: 3rem;
  text-align: center;
  background: #04b7e3;
  color: #fff;
  font-size: 1rem;
}
/**�ŵ���֤**/
.upload {
  margin: 0.4rem 0;
  padding: 0.6rem;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.upload .Sname {
  line-height: 2.8rem;
  border-bottom: 1px solid #e6e6e6;
}
.upload .Sname input {
  width: 70%;
  height: 2.6rem;
  border: 0;
  font-size: 0.9rem;
}
.upload .store {
  line-height: 2.8rem;
  border-bottom: 1px solid #e6e6e6;
}
.upload .store input {
  width: 60%;
  height: 2.6rem;
  border: 0;
  font-size: 0.9rem;
}
.upload .Photograph {
  width: 100%;
  text-align: center;
}
.upload .Photograph .Cross {
  width: 6rem;
  margin: 1rem auto;
  position: relative;
}
.upload .Photograph .Cross img {
  width: 6rem;
}
.upload .Photograph .Cross input {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 6rem;
  height: 6rem;
  font-size: 100%;
  opacity: 0;
}
.upload .Photograph .Prompt {
  color: #8a8a8a;
}
.TheMain {
  width: 100%;
  padding: 0.4rem 0.6rem;
}
.PhotoWall {
  width: 100%;
  background: #fff;
  padding: 0.4rem 0.6rem;
  box-sizing: border-box;
  font-size: 0;
}
.PhotoWall .sc1 {
  position: relative;
  display: inline-block;
  overflow-x: hidden;
}
.PhotoWall .sc1 img {
  width: 5rem;
  margin-right: 0.2rem ;
}
.PhotoWall .sc1 input {
  position: absolute;
  top: 28px;
  left: 0;
  opacity: 0;
}
.btn {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
/*�û���֤*/
.ToExamine {
  width: 100%;
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.ToExamine .portrait {
  padding: 1.5rem 0 0.6rem;
  box-sizing: border-box;
}
.ToExamine .portrait img {
  width: 5rem;
}
.ToExamine .Audit {
  color: #e21629;
  padding-bottom: 0.8rem;
  font-size: 0.9rem;
  box-sizing: border-box;
}
/*�̼�*/
.baner {
  position: relative;
}
.baner .userCont {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 0 0.6rem;
  box-sizing: border-box;
}
.baner .userCont p {
  display: inline-block;
}
.baner .userCont .Villain {
  width: 8%;
}
.baner .userCont .Villain img {
  width: 1.4rem;
}
.baner .userCont .userIntroduce {
  width: 62%;
  margin-top: 0.2rem;
}
.baner .userCont .userIntroduce .daiV {
  color: #fff;
}
.baner .userCont .userIntroduce .daiV img {
  width: 1rem;
}
.baner .userCont .userIntroduce span {
  display: block;
  color: #fff;
  font-size: 0.9rem;
}
.baner .userCont .dainzan {
  display: none;
  height: 2rem;
  position: absolute;
  top: 8px;
  right: 0;
}
.baner .userCont .dainzan span {
  margin-right: 1.4rem;
}
.baner .userCont .dainzan span img {
  width: 1.4rem;
}
.businessClass {
  width: 100%;
  font-size: 0;
  border-bottom: 1px solid #e6e6e6;
}
.businessClass ul .class1 {
  border-right: 1px solid #ddd;
}
.businessClass ul .FirstClass {
  float: left;
  width: 50%;
  font-size: 1rem;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.businessClass ul .FirstClass p {
  line-height: 2.6rem;
  background: #fff;
}
.businessClass ul .FirstClass p img {
  margin-left: 0.4rem;
}
.businessClass ul .FirstClass .ClassTwo {
  position: absolute;
  top: 2.6rem;
  width: 100%;
  border: 1px solid #ddd;
  background: #fff;
  box-sizing: border-box;
  display: none;
}
/*�̼ұ༭*/
.bjMap {
  width: 100%;
  height: 11rem;
  position: relative;
}
.bjMap img {
  width: 100%;
  height: 100%;
}
.bjMap .bjBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2rem;
  margin-top: -6rem;
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.5rem;
}
.bjMap .bjBtn img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2rem;
  margin-top: 1rem;
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.5rem;
}
.bjMap .bjBtn .file {
  position: absolute;
  top: 105%;
  left: -5%;
  opacity: 0;
}
.bjMap .Prompt {
  position: absolute;
  bottom: 20%;
  left: 50%;
/*  width: 100%;*/
  font-size: 0.9rem;
  color: #fff;
  margin-top: -5rem;
  margin-left: -3rem;
}
.main .SeeMerchant .inputa {
  width: 60%;
  height: 2.4rem;
  border: 0;
  font-size: 1rem;
}
.main .DetailsIntro {
  margin-bottom: 2rem;
}
.main .DetailsIntro .DetailsCont {
  width: 100%;
  padding-bottom: 1rem;
  position: relative;
}
.main .DetailsIntro .DetailsCont textarea {
  width: 100%;
  max-height: 7rem;
  border: 0;
  font-size: 1rem;
}
.main .DetailsIntro .DetailsCont a {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #f3ba3b;
}
/*��������*/
.purchase {
  width: 100%;
  font-size: 0;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
  margin-bottom: 0.4rem;
}
.purchase ul .BrandNew {
  border-right: 1px solid #e6e6e6;
}
.purchase ul li.active a {
  color: #04b7e3;
}
.purchase ul li {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
}
.purchase ul li a {
  line-height: 3.8rem;
  color: #111;
}
.purchaseCont div.show {
  display: block;
}
.purchaseCont .listClas {
  display: none;
}
.purchaseCont .listClas .name {
  height: 3.8rem;
  margin: 0.4rem 0;
  background: #fff;
  padding: 0 0.6rem;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
.purchaseCont .listClas .name span {
  display: inline-block;
  line-height: 3.6rem;
}
.purchaseCont .listClas .name span img {
  width: 3rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}
.purchaseCont .listClas .name .time {
  float: right;
}
.purchaseCont .listClas .IntentList li {
  overflow: hidden;
  background: #fff;
  padding: 0.4rem 0.6rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
.purchaseCont .listClas .IntentList li div {
  float: left;
}
.purchaseCont .listClas .IntentList li .classImg {
  margin-right: 0.4rem;
}
.purchaseCont .listClas .IntentList li .classImg img {
  width: 6rem;
}
.purchaseCont .listClas .IntentList li .classcont p {
  line-height: 1.6rem;
}
.purchaseCont .listClas .IntentList li .classcont p .price {
  color: #e62129;
}
.purchaseCont .listClas .IntentList li .classcont .txt {
  font-size: 0.9rem;
  color: #8a8a8a;
}
.zhezhao {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.zhezhao .motai {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
  height: 14rem;
  background: #fff;
  border: 1px solid #e6e6e6;
  text-align: center;
  z-index: 101;
}
.zhezhao .motai > img {
  width: 80%;
  height: 80%;
  margin-top: 8%;
}
.zhezhao .motai .removee {
  display: inline-block;
  position: absolute;
  top: -12px;
  right: -2px;
  width: 1.3rem;
  height: 1.3rem;
}
.zhezhao .motai .removee > .remoimg {
  width: 1.6rem;
}
/*����*/
.logoo {
  width: 100%;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.logoo img {
  width: 7rem;
  margin: 2rem 0;
}
.txtt {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
  padding: 0.4rem 0.6rem;
  margin: 0.4rem 0;
}
.juwa {
  width: 100%;
}
.juwa p {
  line-height: 3rem;
  background: #fff;
  padding: 0 0.6rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.juwa p .guan {
  display: inline-block;
  width: 22%;
  color: #8a8a8a;
}
.juwa p .www {
  color: #04b7e3;
}
.juwa .kefu {
  border-top: 0;
}
/*��������*/
.contet {
  width: 100%;
  padding: 0.6rem;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.contet textarea {
  width: 100%;
  margin-bottom: 2rem;
  border: 0;
  font-size: 1rem;
}
.btnlo {
  text-align: center;
  margin-top: 2rem;
}
.PersonalInfo .name .conts {
  width: 80%;
}
.Cmain {
  width: 100%;
}
.Cmain ul li {
  width: 100%;
  margin: 0.4rem 0;
  background: #fff;
  padding: 0.6rem;
  box-sizing: border-box;
}
.Cmain ul li .zxImg img {
  width: 100%;
  height: 9rem;
  border-radius: 0.6rem;
}
.Cmain ul li .title1 {
  line-height: normal;
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}
.Cmain ul li .title2 {
  line-height: normal;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.Cmain ul li .liulan .time {
  color: #8a8a8a;
}
.Cmain ul li .liulan .renshu {
  float: right;
  margin: 0.2rem 0.6rem 0 0;
  color: #8a8a8a;
}
.Cmain ul li .liulan .renshu img {
  width: 1.4rem;
}
/*���͵�����*/
.dahsnag {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.dahsnag .neida {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10rem;
  margin-left: -8rem;
  background: #fff;
  border-radius: 0.3rem;
  text-align: center;
}
.dahsnag .neida .guanbi {
  text-align: left;
}
.dahsnag .neida .guanbi img {
  width: 1.1rem;
  margin: 0.6rem 0 0 0.6rem;
}
.dahsnag .neida .touxiang {
  margin-bottom: 0.4rem;
}
.dahsnag .neida .touxiang img {
  width: 4rem;
}
.dahsnag .neida .tianxie {
  width: 8rem;
  height: 2.4rem;
  border: 1px solid #8a8a8a;
  border-radius: 1rem;
  margin: 0.4rem auto;
}
.dahsnag .neida .tianxie input {
  width: 6.8rem;
  border: 0;
  margin-top: 0.6rem;
  font-size: 0.9rem;
  -webkit-user-modify: read-write-plaintext-only;
}
.dahsnag .neida button {
  width: 5rem;
  height: 2rem;
  background: #e62129;
  border: 0;
  border-radius: 0.4rem;
  color: #fff;
  margin: 0.4rem 0 1rem;
  font-size: 1.3rem;
}
.classContent > ul li:last-child{
  margin-bottom: 4rem;
}
