html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}
html {
  font-size: 14px;
}
body {
  font-family: PingFang-SC-Regular, 'MicrosoftYaHei', arial, sans-serif;
  background: #f5f5f6;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
a {
  color: #111;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  color: #111111;
  outline: 0;
  box-sizing: border-box;
}
body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
input,
textarea,
select {
  outline: none;
}
input[type=button],
input[type=submit],
input[type=file] {
  -webkit-appearance: none;
  outline: none;
}
.clearOver {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.themeColor {
  background: #f4bd44;
}
.borderAll {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.borderBottom {
  border-bottom: 1px solid #e6e6e6;
}
.inputAll {
  width: 80%;
  height: 3rem;
  background: #fff;
  border: 0;
  margin-bottom: 0.6rem;
  border-radius: 0.3rem;
  padding: 0 0.8rem;
  font-size: 1rem;
}
.btnAll {
  width: 80%;
  height: 3rem;
  line-height: 2.5rem;
  border: 0;
  border-radius: 0.3rem;
  color: #fff;
  padding: 0 0.8rem;
  margin: 0 auto;
  background: #04b7e3;
  font-size: 1rem;
  -webkit-appearance: none;
  outline: none;
}
.pbcCenter {
  text-align: center;
}
/***����****/
.classification {
  width: 100%;
  position: relative;
}
.classification .yiji {
  font-size: 0;
}
.classification .yiji ul {
  background: #fff;
}
.classification .yiji ul li {
  display: inline-block;
  font-size: 1rem;
  width: 25%;
  text-align: center;
  line-height: 3.5rem;
}
.classification .yiji ul li img {
  width: 0.7rem;
  vertical-align: middle;
  margin-left: 0.2rem;
}
.classification .erji1 {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 25%;
  background: #fff;
  padding: 0 0.6rem;
  border: 1px solid #e6e6e6;
  border-top: 0;
  border-left: 0;
  display: none;
}
.classification .erji1 ul li {
  line-height: 2.8rem;
  text-align: center;
}
/* demo-content */
.demo-content {
  padding-top: 3rem;
}
/*����*/
.screening {
  width: 100%;
  height: 3rem;
  font-size: 0;
}
.screening ul li {
  width: 25%;
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
  line-height: 3rem;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding-right: 26px;
  background: #ffffff url("../../image/on_bottom.png") no-repeat center right 12px;
}
.screening ul li img {
  width: 0.6rem;
  vertical-align: middle;
  margin-left: 0.2rem;
}
.screening ul .source {
  border-right: 0;
}
/*����*/
.grade-eject {
  width: 100%;
  position: relative;
}
.ejectAll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  overflow-y: auto;
  max-height: 18rem;
  margin-top: 0.1rem;
}
.ejectAll > li {
  line-height: 2.2rem;
  padding-left: 1.2rem ;
  border-bottom: 1px solid #e6e6e6;
  font-size: 0.8rem;
  background: #fff;
}
.ejectAll li img {
  float: right;
  width: 0.4rem;
  margin: 0.8rem 1rem 0 0;
}
