<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分类</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
    <div class="headTop">
        <div class="search">
            <p><img src="../../image/search.png" alt=""/></p>
            <input type="text" placeholder="搜索商家"/>
        </div>

    </div>
    <div class="classNav">
        <ul>
            <li class="active"><a href="#tab1">全新设备</a></li>
            <li><a href="#tab2">二手设备</a></li>
            <li><a href="#tab3">配件</a></li>
            <li><a href="#tab4">服务信息</a></li>
        </ul>
    </div>
    <div class="classCont">
        <div class="neweQuipment show" id="tab1">
            <ul>
                <li>
                    <h3 class="title">需要维修的挖掘机1</h3>
                    <p class="addsAndprice">
                        <span>广东省深圳市南山区</span>
                        <span class="price">价格 : 1000-2000</span>
                    </p>
                    <p class="time">
                        <span>个人-2天前</span>
                        <a href="#"><img src="../../image/lianxi.png" alt=""/></a>
                    </p>
                </li>
                <li>
                    <h3 class="title">需要维修的挖掘机1</h3>
                    <p class="addsAndprice">
                        <span>广东省深圳市南山区</span>
                        <span class="price">价格 : 1000-2000</span>
                    </p>
                    <p class="time">
                        <span>个人-2天前</span>
                        <a href="#"><img src="../../image/lianxi.png" alt=""/></a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="neweQuipment" id="tab2">
            <ul>
                <li>
                    <h3 class="title">需要维修的挖掘机2</h3>
                    <p class="addsAndprice">
                        <span>广东省深圳市南山区</span>
                        <span class="price">价格 : 1000-2000</span>
                    </p>
                    <p class="time">
                        <span>个人-2天前</span>
                        <a href="#"><img src="../../image/lianxi.png" alt=""/></a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="neweQuipment" id="tab3">
            <ul>
                <li>
                    <h3 class="title">需要维修的挖掘机3</h3>
                    <p class="addsAndprice">
                        <span>广东省深圳市南山区</span>
                        <span class="price">价格 : 1000-2000</span>
                    </p>
                    <p class="time">
                        <span>个人-2天前</span>
                        <a href="#"><img src="../../image/lianxi.png" alt=""/></a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="neweQuipment" id="tab4">
            <ul>
                <li>
                    <h3 class="title">需要维修的挖掘机4</h3>
                    <p class="addsAndprice">
                        <span>广东省深圳市南山区</span>
                        <span class="price">价格 : 1000-2000</span>
                    </p>
                    <p class="time">
                        <span>个人-2天前</span>
                        <a href="#"><img src="../../image/lianxi.png" alt=""/></a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footerNav">
        <ul>
            <li>
                <a href="#">
                    <img src="../../image/foter-nav-hui.png" alt=""/>
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="foter-nav-f" src="../../image/fanleilan.png" alt=""/>
                    <p>分类</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="foter-nav-z" src="../../image/foter-nav-z.png" alt=""/>
                    <p>咨询</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="foter-nav-z" src="../../image/foter-nav-r.png" alt=""/>
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </div>
    <script src="../../public/js/jquery-1.9.1.min.js"></script>
    <script>
        var Oa=$('.classNav ul li a');
        Oa.click(function(e){
            e.preventDefault();
            $(this).parent().addClass('active').siblings('.active').removeClass('active');
            var h = $(this).attr('href');
            $(h).addClass('show').siblings('.show').removeClass('show');
        })
    </script>
</body>
</html>