<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>设备详情</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/swiper-3.4.1.min.css"/>
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../image/banner1.png" alt=""/></div>
            <div class="swiper-slide"><img src="../../image/banner2.png" alt=""/></div>
            <div class="swiper-slide"><img src="../../image/banner3.png" alt=""/></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
    <section>
        <div class="Model">
            <p class="Modell"><span>小松PC560-挖掘机</span><a href="#">意向购买</a></p>
            <div class="Model-cont">
                <span class="Price">价格:29万元</span>
                <div class="CollRead" id="lection">
                    <span class="Collection"><img src="../../image/Collection.png" alt=""/>收藏</span>
                    <span class="Read"><img src="../../image/Read.png" alt=""/>8082</span>
                </div>
            </div>
        </div>
        <div class="DetailsIntro">
            <p class="deinro">详情介绍</p>
            <div class="DetailsCont">
                住友建机以高效焊接机械手、大型智能机械加工中心、多品种混合生产组装流水线等先进设备进行生产制造，
                并通过对焊接部分进行超声波检查、
                严格确认下线后的机械性能等一丝不苟的质量管理，向世界各地的用户提供安心满意的产品。
                试验工厂是住友建机的分析开展研究工作。
                <a href="#">查看更多</a>
            </div>
        </div>
        <div class="SeeMerchant">
            <span class="see1">品牌 : </span>
            <span>小松</span>
        </div>
        <div class="SeeMerchant">
            <span class="see1">联系人 : </span>
            <span>王世聪</span>
        </div>
        <div class="SeeMerchant">
            <span class="see1">类别 : </span>
            <span>租贡</span>
        </div>
        <div class="SeeMerchant">
            <span class="see1">地区位置 : </span>
            <span>广东-深圳-福田区</span>
        </div>
        <div class="SeeMerchant SeeMe">
            <a href="#">查看商家<img src="../../image/on_right.png" alt=""/></a>
        </div>
        <footer>
            <ul class="foterNav">
                <li><a href="tel:'453853689'"><img src="../../image/qq.png" alt=""/>QQ联系</a></li>
                <li class="code2"><a href="tel:13625412145"><img src="../../image/code.png" alt=""/>电话联系</a></li>
                <li><a href="sms:13620222963"><img src="../../image/Short%20.png" alt=""/>短息联系</a></li>
            </ul>
        </footer>
    </section>

    <script src="../../public/js/jquery-1.9.1.min.js"></script>
    <script src="../../public/js/swiper.min.js"></script>
    <script>
        $('#lection').on('click','img',function(){
            $(this).attr('src',"../../image/lanshou.png");
        });
        var mySwiper = new Swiper('.swiper-container',{
            autoplay: 4000,
            pagination : '.swiper-pagination',
            paginationElement : 'li'
        });
    </script>
</body>
</html>