<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>意向信息</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
    <section>
        <div class="intention">
            <p class="fillln1">填写您的个人信息，商家会及时回复...</p>
            <div class="Product">
                <p class="title">润田经销商</p>
                <div class="ProductCont">
                    <img src="../../image/waji.png" alt=""/>
                    <p class="info">
                        <span>挖机发动机配件</span>
                        <span class="Price">价格 : 300￥</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="PersonalInfo">
            <form action="">
                <div class="name">
                    <span>姓名 : </span>
                    <input  type="text" placeholder="请输入姓名"/>
                </div>
                <div class="name">
                    <span>电话 : </span>
                    <input  type="number" placeholder="请输入电话号码"/>
                </div>
                <div class="name">
                    <span>城市 : </span>
                    <input  type="text" placeholder="请输入详细地址"/>
                </div>
                <div class="name">
                    <span>数量 : </span>
                    <input  type="text" placeholder="请输入购买数量"/>
                </div>
                <p class="title">留言</p>
                <div class="texta">
                    <textarea name="" id="" cols="40" rows="8" placeholder="输入补充的信息...."></textarea>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <button type="submit" class="Isubmit">提交</button>
    </footer>
</body>
</html>