<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>配件列表</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<!-- screening -->
<div class="screening">
    <ul>
        <li class="Regional">
            分类
            <img src="../../image/on_bottom.png" alt=""/>
        </li>
        <li class="Brand">
            地区
            <img src="../../image/on_bottom.png" alt=""/>
        </li>
        <li class="Sort">
            发布时间
            <img src="../../image/on_bottom.png" alt=""/>
        </li>
        <li class="Sort">
            来源
            <img src="../../image/on_bottom.png" alt=""/>
        </li>
    </ul>
</div>
<!-- End screening -->
<!-- grade -->
<div class="grade-eject">
    <ul class="grade-w" id="grade-w">
        <li>新挖掘机</li>
        <li>二手挖掘机</li>
        <li>破碎锤</li>
        <li>油管</li>
    </ul>
</div>
<!-- End grade -->
<!-- Category -->
<div class="Category-eject">
    <ul class="Category-w" id="Categorytw">
        <li>湖北</li>
        <li>河北</li>
        <li>河南</li>
        <li>广州</li>
    </ul>
    <ul class="Category-t" id="Categoryt">
        <li>北京</li>
        <li>郑州</li>
        <li>深圳</li>
        <li>南京</li>
    </ul>
    <ul class="Category-s" id="Categorys">
        <li>南山区</li>
        <li>福田区</li>
        <li>龙岗区</li>
        <li>龙华区</li>
        <li>宝安区</li>
    </ul>
</div>
<!-- End Category -->
<!-- Category -->
<div class="Sort-eject Sort-height">
    <ul class="Sort-Sort" id="Sort-Sort">
        <li>2017/4/04/12</li>
        <li>2017/4/04/12</li>
        <li>2017/4/04/12</li>
        <li>2017/4/04/12</li>
    </ul>
</div>
<div class="classContent">
    <ul>
        <li>
            <div class="classImg">
                <img src="../../image/listimg.jpg" alt=""/>
            </div>
            <div class="classcont">
                <p><b>韩国工兵破碎锤</b></p>
                <p>价格 : <span class="price">0.9万</span></p>
                <p>经销商 : <span>2017/10/10</span></p>
                <p>地址 : <span>深圳市南山区</span></p>
            </div>
        </li>
    </ul>
</div>
<div class="footerNav">
    <ul>
        <li>
            <a href="#">
                <img src="../../image/foter-nav-hui.png" alt=""/>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="foter-nav-f" src="../../image/fanleilan.png" alt=""/>
                <p>分类</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="foter-nav-z" src="../../image/foter-nav-z.png" alt=""/>
                <p>咨询</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="foter-nav-z" src="../../image/foter-nav-r.png" alt=""/>
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>
<script src="../../public/js/jquery-1.9.1.min.js"></script>
<script src="../../public/js/public.js"></script>
</body>
</html>