<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择（经销商）</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div id="listManufa" class="listManufa">
    <ul>
        <li class="">挖掘机 <img src="../../image/on_right.png" alt=""/> </li>
        <li>破碎锤 <img src="../../image/on_right.png" alt=""/> </li>
        <li>破碎锤配件 <img src="../../image/on_right.png" alt=""/> </li>
        <li>挖掘机配件 <img src="../../image/on_right.png" alt=""/> </li>
        <li>其他工程机械设备 <img src="../../image/on_right.png" alt=""/></li>
        <li>油封系列 <img src="../../image/on_right.png" alt=""/> </li>
        <li>液压管路 <img src="../../image/on_right.png" alt=""/> </li>
        <li>挖掘机维修 <img src="../../image/on_right.png" alt=""/> </li>
        <li>破碎锤维修<img src="../../image/on_right.png" alt=""/> </li>
    </ul>
</div>
<div id="erjicai" class="erjicai">
    <ul>
        <li>挖掘机</li>
        <li>破碎锤</li>
        <li>破碎锤配件</li>
        <li>挖掘机配件</li>
        <li>其他工程机械设备</li>
        <li>油封系列</li>
        <li>液压管路</li>
        <li>挖掘机维修</li>
        <li>破碎锤维修</li>
    </ul>
</div>
<script src="../../public/js/jquery-1.9.1.min.js"></script>
<script>
    $('#listManufa ul').on('click','li',function(){
        $(this).addClass('active').siblings('.active').removeClass('active');
        $('#erjicai').animate({left:"45%"},500)
    })

</script>
</body>
</html>