<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>立即注册</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
    <div class="register">
        <form action="">
            <input class="inputAll" type="text" placeholder=" 请输入电话号码"/>
            <div class="code">
                <input class="num inpt" placeholder=" 请输入验证码" type="number"/>
                <button class="onbtn"  type="button">获取验证码</button>
            </div>
            <input class="inputAll" type="password" placeholder=" 请设置密码"/>
            <div class="Aradio">
                <label><input class="Fruit" type="radio" value="0" name="feel" checked/>用户</label>
                <label><input class="Fruit" type="radio" value="1" name="feel"/>经销商</label>
                <label><input class="Fruit" type="radio" value="2" name="feel"/>厂家</label>
            </div>
            <div class="NextStep">
                <button type="button">下一步</button>
            </div>
            <p class="imy">
                <input type="checkbox"/>我已阅读并同意
                <span>《服务协议》</span>
            </p>
        </form>
    </div>
</body>
</html>