<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
    <div class="release">
        <p class="Countdown">您已发送验证码到:13645125623 等待 <span>51s</span></p>
        <form action="" class="pbcCenter">
            <lebel><input class="inputAll" type="number" placeholder="请输入验证码"/></lebel>
            <lebel><input class="inputAll" type="password" placeholder=" 请输入新密码"/></lebel>
            <lebel><input class="inputAll" type="password" placeholder=" 请再次输入新密码"/></lebel>
            <lebel><input class="btnAll" type="button" value="提交"/></lebel>
        </form>
    </div>
</body>
</html>