<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择（用户）</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="listManufa">
    <ul>
        <li>工程公司业务员</li>
        <li>挖掘机业主</li>
        <li>挖掘机司机</li>
        <li>其他工程机械业主</li>
        <li>二手挖掘机信息平台</li>
    </ul>
</div>
</body>
</html>