<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行业名称</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="forget">
    <form action="">
        <input class="inputAll" type="text" placeholder="请输入您的行业名称..." />
        <br/>
        <a href="#"><button class="btnAll" type="button">提交</button></a>
    </form>
</div>
</body>
</html>