.headTop {
  width: 100%;
  height: 3.1rem;
  background: #04b7e3;
  overflow: hidden;
}
.headTop .search {
  width: 65%;
  margin-left: 17.5%;
  position: relative;
  line-height: 3.1rem;
}
.headTop .search p {
  position: absolute;
  top: 0.1rem;
  left: 0.8rem;
}
.headTop .search p img {
  width: 0.8rem;
}
.headTop .search input {
  width: 100%;
  height: 2rem;
  border-radius: 1.5rem;
  padding-left: 2rem;
  border: 0;
}
.headTop .Release {
  width: 17.5%;
  line-height: 3.1rem;
}
.headTop .Release a {
  color: #fff;
}
.headTop div {
  float: left;
  text-align: center;
  line-height: 2.6rem;
}
.banner .swiper-wrapper {
  height: 9rem;
}
.banner .swiper-slide {
  text-align: center;
  line-height: 9rem;
  font-size: 2.5rem;
}
.banner .swiper-slide img {
  width: 100%;
  height: 100%;
}
.nav {
  height: 10rem;
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
}
.nav ul li {
  width: 25%;
  text-align: center;
  float: left;
}
.nav ul li a {
  display: inline-block;
  height: 5rem;
}
.nav ul li a img {
  width: 2.6rem;
  margin-top: 0.9rem;
}
.nav ul li a p {
  color: #111;
  font-size: 0.9rem;
}
.nav ul li a .iocn-1 {
  margin-top: 0.8rem;
}
.content {
  width: 100%;
  margin-bottom: 4.2rem;
}
.content .hot {
  width: 100%;
  text-align: center;
  padding: 0.6rem 0;
}
.content ul li {
  width: 100%;
  background: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.content ul li a {
  color: #333;
}
.content ul li a .listCont {
  height: 4.5rem;
  border-bottom: 1px solid #ddd;
}
.content ul li a .listCont div {
  float: left;
}
.content ul li a .listCont .iconbox {
  width: 22%;
  height: 70%;
}
.content ul li a .listCont .iconbox img {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin: 0.5rem auto 0;
}
.content ul li a .listCont .companyName {
  margin-top: 0.9rem;
  width: 58%;
}
.content ul li a .listCont .companyName p {
  line-height: 1.4rem;
}
.content ul li a .listCont .Authentication span {
  text-align: center;
  display: inline-block;
  width: 3.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  background: #00a3cc;
  color: #fff;
  border-radius: 3px;
  margin-top: 1.4rem;
}
.content ul li a > p {
  width: 100%;
  font-size: 0rem;
  color: #333;
  margin-left: 0.2rem;
  vertical-align: middle;
  overflow: hidden;
}
.content ul li a > p span {
  float: left;
}
.content ul li a > p .TheMain {
  width: 5rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9rem;
}
.content ul li a > p .span1 {
  width: 72%;
  height: 1.6rem;
  line-height: 1.6rem;
  color: #8a8a8a;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9rem;
  margin-top: 0.4rem;
}
.footerNav {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3.8rem;
  border-top: 1px solid #ddd;
  background: #fff;
}
.footerNav ul li {
  float: left;
  width: 25%;
  text-align: center;
  padding: 0.4rem;
  box-sizing: border-box;
}
.footerNav ul li a {
  color: #8a8a8a;
}
.footerNav ul li a img {
  width: 1.6rem;
}
.footerNav ul li a .foter-nav-f {
  width: 2.2rem;
}
.footerNav ul li a .foter-nav-z {
  width: 1.6rem;
}
.footerNav ul li a .foter-nav-r {
  width: 1.6rem;
}
.footerNav ul li a p {
  font-size: 0.9rem;
}
/*发布服务消息*/
.biaoti {
  width: 100%;
  padding: 0.4rem 0.6rem;
  box-sizing: border-box;
  background: #fff;
  margin: 0.4rem 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.biaoti .title {
  height: 1.8rem;
  border-bottom: 1px solid #e6e6e6;
}
.biaoti .title span {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.2rem;
}
.biaoti .title input {
  border: 0;
  font-size: 1rem;
}
.biaoti .textq {
  padding: 0.4rem 0;
}
.biaoti .textq textarea {
  width: 100%;
  border: 0;
  font-size: 1rem;
}
.inforlist .list1 {
  background: #fff;
  line-height: 3rem;
  padding: 0 0.6rem;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
}
.inforlist .list1 span {
  display: inline-block;
  width: 4.5rem;
}
.inforlist .list1 a {
  color: #a8a8a8;
}
.inforlist .list1 img {
  float: right;
  margin: 1.2rem 0.5rem;
}
.inforlist .list1 input {
  font-size: 1rem;
  border: 0;
}
/*发布详情*/
.fabu {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background: #04b7e3;
  font-size: 1.1rem;
  color: #fff;
  border: 0;
}
/*支付*/
.Total {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  padding: 0 0.6rem;
  background: #fff;
  margin: 0.4rem 0;
  box-sizing: border-box;
}
.Total span {
  font-size: 1rem;
}
.Total .num {
  color: #b02023;
  float: right;
}
.PaymentType {
  margin-bottom: 1.4rem;
}
.PaymentType .bao {
  background: #fff;
  line-height: 3rem;
  padding: 0 0.6rem;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
}
.PaymentType .bao img {
  width: 1.8rem;
  vertical-align: middle;
  margin-right: 0.6rem;
}
/*搜索*/
.shousuo {
  margin-bottom: 0.4rem;
}
.xiala {
  position: relative;
}
.xiala .scring {
  width: 100%;
  height: 3rem;
  font-size: 0;
}
.xiala .scring ul {
  background: #fff;
}
.xiala .scring ul li {
  width: 50%;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  line-height: 3rem;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.xiala .scring ul li img {
  width: 0.6rem;
  vertical-align: middle;
  margin-left: 0.2rem;
}
.xiala .grade {
  width: 100%;
  position: absolute;
  top: 3.1rem;
  background: #fff;
  border-right: 1px solid #e6e6e6;
}
.xiala .grade .ejectAll {
  display: none;
  overflow-y: auto;
  margin-top: 0.1rem;
}
.xiala .grade .ejectAll li {
  line-height: 3rem;
  padding-left: 1.2rem ;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1rem;
  background: #fff;
}
.xiala .grade .ejectAll li img {
  float: right;
  width: 0.4rem;
  margin: 0.8rem 1rem 0 0;
}
/*发布提示*/
.tips {
  text-align: center;
  margin-top: 3rem;
  font-size: 1rem;
}
.tips img {
  width: 6rem;
}
.tips p {
  margin-top: 0.6rem;
  color: #04b7e3;
  font-size: 1.1rem;
}
.tips .jihui {
  margin-top: 0.4rem;
}
.tips .jihui a {
  padding: 0 1.2rem;
  font-size: 1.1rem;
}
