<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
    <div class="logoo">
        <img src="../../image/guanyu.png" alt=""/>
    </div>
    <p class="txtt">
        聚挖网是个信息服务平台聚挖网是个信息服务平台聚挖网是个信息服务平台聚挖网是个信息服务平台聚挖网是个信息服务平台聚
        挖网是个信息服务平台聚挖网是个信息服务平台聚挖网是个信息服务平台聚挖网是个信息服务平
        台聚挖网是个信息服务平台聚挖网是个信息服务平台聚挖网是个信息服务平台聚挖网是个信息服务平台
    </p>
    <div class="juwa">
        <p>
            <span class="guan">官方网站</span>
            <span>www.juwa.com</span>
        </p>
        <p class="kefu">
            <span class="guan">客服电话</span>
            <span class="www">400-700-7001</span>
        </p>
    </div>
</body>
</html>