<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户认证</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="upload">
    <form action="">
        <div class="Sname">
            <lebel>真实姓名 : </lebel>
            <input type="text" placeholder="填写姓名"/>
        </div>
        <div class="store">
            <lebel>身份证号 : </lebel>
            <input type="text" placeholder="填写身份证号"/>
        </div>
    </form>
    <div class="Photograph">
        <p class="Cross"><img src="../../image/Cross.png" alt=""/><input type="file"/></p>
        <p class="Prompt">身份证</p>
    </div>
</div>
<div class="btn">
    <button type="button" class="btnAll">提交认证申请</button>
</div>
</body>
</html>