<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑资料</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
    <div class="edit">
        <div class="SetAvatar borderBottom">
            <a href="#">
                <span>设置头像</span>
                <span class="setImg"><img src="../../image/touxiang.png" alt=""/></span>
            </a>
        </div>
        <p class="title">个人信息</p>
        <div class="PersonalInf borderAll">
            <form action="">
                <div class="name">
                    <span>姓名 : </span>
                    <input  type="text" value="小强强"/>
                </div>
                <div class="name name2">
                    <span>手机 : </span>
                    <input  type="number" value="13654788956"/>
                </div>
                <div class="name">
                    <span>性别 : </span>
                    <input  type="text" value="男"/>
                </div>
                <div class="name name4">
                    <span>地区 : </span>
                    <input  type="text" value="深圳市福田区天安数码城"/>
                </div>
            </form>
        </div>
        <p class="title">主营业务</p>
        <div class="PersonalInfo">
            <form action="">
                <div class="texta">
                    <textarea name="" id="" cols="40" rows="8" placeholder="简单描述商家主营业务...."></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="footerNav">
        <ul>
            <li>
                <a href="#">
                    <img src="../../image/foter-nav-hui.png" alt=""/>
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="foter-nav-f" src="../../image/foter-nav-f.png" alt=""/>
                    <p>分类</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="foter-nav-z" src="../../image/foter-nav-z.png" alt=""/>
                    <p>咨询</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="foter-nav-z" src="../../image/renlan.png" alt=""/>
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>