<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家详情</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="headTop">
    <div class="search">
        <p><img src="../../image/search.png" alt=""/></p>
        <input type="text" placeholder="搜索商家"/>
    </div>
</div>
<div class="baner">
    <img src="../../image/title.png" alt=""/>
    <div class="userCont">
        <p class="Villain"><img src="../../image/ren.png" alt=""/></p>
        <p class="userIntroduce">
            <span class="daiV">润田经销商 (王世聪)<img src="../../image/V.png" alt=""/></span>
            <span>1998人推荐</span>
        </p>
    </div>
</div>
<div class="main">
    <div class="SeeMerchant">
        <a id="onzhao" href="#">证件照<img class="seeimg" src="../../image/zhaopian.png" alt=""/></a>
        <div id="onblock" class="zhezhao">
            <p class="motai">
                <img src="../../image/listimg.jpg" alt=""/>
                <span id="removee" class="removee">
                    <img class="remoimg" src="../../image/remo.png" alt=""/>
                </span>
            </p>
        </div>
    </div>
    <div class="SeeMerchant">
        <a id="onyier" href="#">商家二维码<img class="seeimg" src="../../image/erweima.png" alt=""/></a>
        <div id="onkuai" class="zhezhao">
            <p class="motai">
                <img src="../../image/listimg.jpg" alt=""/>
                <span id="remove" class="removee">
                    <img class="remoimg" src="../../image/remo.png" alt=""/>
                </span>
            </p>
        </div>
    </div>
    <div class="SeeMerchant">
        <span>地区位置 : </span><span>广东省深圳市福田屋</span>
    </div>
    <div class="SeeMerchant">
        <span>详细地址 : </span><span>福田区天安数码城</span>
    </div>
    <div class="SeeMerchant">
        <span>主营业务 : </span><span>挖掘机，破碎锤，各种配件</span>
    </div>
    <div class="DetailsIntro">
        <p class="deinro">简介</p>
        <div class="DetailsCont">
            住友建机以高效焊接机械手、大型智能机械加工中心、多品种混合生产组装流水线等先进设备进行生产制造，
            并通过对焊接部分进行超声波检查、
            严格确认下线后的机械性能等一丝不苟的质量管理，向世界各地的用户提供安心满意的产品。
            试验工厂是住友建机的分析开展研究工作。
            <a href="#">查看更多</a>
        </div>
    </div>
    <div class="chakanbtn">
        <button type="button">查看联系方式</button>
    </div>
</div>
<div id="tankuang" class="yijizhe">
    <div class="tankuang">
        <ul>
            <li>
                <div class="tab1">
                    <span>电话 : </span>
                    <a href="tel:13621245784">13621457845</a>
                </div>
                <div class="tab1">
                    <span>QQ : </span>
                    <a href="#">4528523689</a>
                </div>
                <button id="quxiao" type="button">取消</button>
            </li>
        </ul>
    </div>
</div>
<script src="../../public/js/jquery-1.9.1.min.js"></script>
<script src="../../public/js/public.js"></script>
<script>

</script>

</body>
</html>






