<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="modify">
    <form action="" class="pbcCenter">
        <lebel><input class="inputAll" type="number" placeholder="原始密码"/></lebel>
        <lebel><input class="inputAll" type="password" placeholder=" 请输入新密码"/></lebel>
        <lebel><input class="inputAll" type="password" placeholder=" 请再次输入新密码"/></lebel>
        <lebel><input class="btnAll" type="button" value="确认修改"/></lebel>
    </form>
</div>
</body>
</html>