<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
    <div class="myBox">
        <div class="personalData borderBottom">
            <div class="Head">
                <p><img src="../../image/touxiang.png" alt=""/></p>
            </div>
            <div class="nameEnterprise">
                <p class="name">王世聪</p>
                <p class="Enterprise">深圳美朝科技</p>
            </div>
            <a href="#" class="editData">
                <img src="../../image/bianji.png" alt=""/>
                <span>编辑资料</span>
            </a>
        </div>
        <div class="Authentication borderAll">
            <span>认证以后有更多的机会</span>
            <a href="#">开始认证</a>
        </div>
        <div class="addressAll">
            <div class="address">
                <P class="namePhone">
                    <img src="../../image/my-f.png" alt=""/>
                    <span class="name">我的发布</span>
                </P>
                <p class="DetailedAdds">
                    <img src="../../image/my-s.png" alt=""/>
                    <span>我的收藏</span>
                </p>
            </div>
            <div class="address">
                <P class="namePhone">
                    <img src="../../image/my-sp.png" alt=""/>
                    <span class="name">我的商铺</span>
                </P>
                <P class="namePhone">
                    <img src="../../image/my-x.png" alt=""/>
                    <span class="name">我的意向订单</span>
                </P>
                <p class="DetailedAdds">
                    <img src="../../image/my-d.png" alt=""/>
                    <span>去打赏平台</span>
                </p>
            </div>
            <div class="address">
                <a href="#" class="DetailedAdds">
                    <img src="../../image/my-sz.png" alt=""/>
                    <span>设置</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>