<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的发布</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="classContent">
    <ul>
        <li>
            <div class="classImg">
                <img src="../../image/listimg.jpg" alt=""/>
            </div>
            <div class="classcont">
                <p><b>韩国工兵破碎锤</b></p>
                <p>品牌 : 韩国工兵</p>
                <p>价格 : <span class="price">0.9万</span></p>
                <p>经销商 : <span>2017/10/10</span></p>
                <p>地址 : <span>深圳市南山区</span></p>
            </div>
            <!--<button class="shanchu" type="button">删除</button>-->
            <a class="shanchu" href="#"><img src="../../image/gengduo.png" alt=""/></a>
        </li>
    </ul>
    <div  id="bianji" class="yijizhe">
        <div class="tankuang">
            <ul>
                <li>
                    <div class="tab1">

                        <a href="#">删除信息</a>
                    </div>
                    <div class="tab1">
                        <a href="#">编辑信息</a>
                    </div>
                    <button id="xol" type="button">取消</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footerNav">
    <ul>
        <li>
            <a href="#">
                <img src="../../image/foter-nav-hui.png" alt=""/>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="foter-nav-f" src="../../image/foter-nav-f.png" alt=""/>
                <p>分类</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="foter-nav-z" src="../../image/foter-nav-z.png" alt=""/>
                <p>咨询</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="foter-nav-z" src="../../image/renlan.png" alt=""/>
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>
<script src="../../public/js/jquery-1.9.1.min.js"></script>
<script>
    $('.shanchu').on('click',function(){
        $('#bianji').show();
        $('#xol').on('click',function(){
            $('#bianji').hide();
        })
    })
</script>
</body>
</html>