<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购买意向</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<div class="purchase">
    <ul>
        <li class="active BrandNew"><a href="#tab1">发出的意向单</a></li>
        <li><a href="#tab2">收到的意向单</a></li>
    </ul>
</div>
<div class="purchaseCont">
    <div class="listClas show" id="tab1">
        <div class="name">
            <span><img src="../../image/touxiang.png" alt=""/></span>
            <span>刘欢</span>
            <span class="time">2017/10/10</span>
        </div>
        <ul class="IntentList">
            <li>
                <div class="classImg">
                    <img src="../../image/listimg.jpg" alt=""/>
                </div>
                <div class="classcont">
                    <p><b>韩国工兵破碎锤</b></p>
                    <p class="txt">价格 : <span class="price">0.9万</span></p>
                    <p class="txt">预购数量 : <span>4</span></p>
                </div>
            </li>
            <li>
                <div class="classImg">
                    <img src="../../image/listimg.jpg" alt=""/>
                </div>
                <div class="classcont">
                    <p><b>韩国工兵破碎锤</b></p>
                    <p class="txt">价格 : <span class="price">0.9万</span></p>
                    <p class="txt">预购数量 : <span>4</span></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="listClas" id="tab2">
        <div class="name">
            <span><img src="../../image/touxiang.png" alt=""/></span>
            <span>刘欢</span>
            <span class="time">2017/10/10</span>
        </div>
        <ul class="IntentList">
            <li>
                <div class="classImg">
                    <img src="../../image/listimg.jpg" alt=""/>
                </div>
                <div class="classcont">
                    <p><b>韩国工兵破碎锤</b></p>
                    <p class="txt">价格 : <span class="price">0.9万</span></p>
                    <p class="txt">预购数量 : <span>4</span></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="../../public/js/jquery-1.9.1.min.js"></script>
<script>
    var Oa=$('.purchase ul li a');
    Oa.click(function(e){
        e.preventDefault();
        $(this).parent().addClass('active').siblings('.active').removeClass('active');
        var h = $(this).attr('href');
        $(h).addClass('show').siblings('.show').removeClass('show');
    })
</script>
</body>
</html>