<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>门店认证</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="../../public/css/index.css"/>
</head>
<body>
<section>
    <div class="upload">
        <form action="">
            <div class="Sname">
                <lebel>商家名称 : </lebel>
                <input type="text" placeholder="填写商家名称"/>
            </div>
            <div class="store">
                <lebel>营业执照/门店号 : </lebel>
                <input type="text" placeholder="填写营业执照号"/>
            </div>
        </form>
        <div class="Photograph">
            <p class="Cross"><img src="../../image/Cross.png" alt=""/><input type="file"/></p>
            <p class="Prompt">营业执照/门店拍照</p>
        </div>
    </div>
    <p class="TheMain">主营商品照片</p>
    <div class="PhotoWall">
        <img src="../../image/Cross.png" alt=""/>
        <img src="../../image/Cross.png" alt=""/>
        <img src="../../image/Cross.png" alt=""/>
        <img src="../../image/Cross.png" alt=""/>
    </div>

    <div class="btn">
        <button type="button" class="btnAll">提交认证申请</button>
    </div>
</section>
</body>
</html>