.login {
  width: 100%;
}
.login .logo {
  text-align: center;
  margin: 3rem 0 1rem;
}
.login .form {
  text-align: center;
}
.login .Other {
  width: 80%;
  margin: 0.4rem auto;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: 1rem;
}
.login .Other > span {
  color: #8a8a8a;
}
.login .Other .register {
  color: red;
}
.login .Other .forgetPwd {
  float: right;
  color: #8a8a8a;
}
/***********ע��***********/
.register {
  width: 100%;
  text-align: center;
  margin-top: 2.2rem;
}
.register .inpt {
  width: 70%;
  height: 3rem;
  border: 0;
  border-radius: 0.4rem;
  margin: 0.6rem 0;
}
.register .code {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.register .code .num {
  width: 55%;
  float: left;
  margin: 0 auto 0.6rem;
  padding-left: 0.8rem;
  font-size: 1rem;
}
.register .code .onbtn {
  float: right;
  width: 35%;
  height: 3rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: .9rem;
  background: #04b7e3;
  color: #fff;
  margin: 0 auto 0.6rem;
  border: 0;
  border-radius: 0.4rem;
}
.register .Aradio {
  text-align: center;
  line-height: 2.8rem;
}
.register .Aradio > label {
  color: #8a8a8a;
}
.register .Aradio label {
  display: inline-block;
  width: 5rem;
}
.register .Aradio .Fruit {
  font-size: 1rem;
}
.register .NextStep > button {
  display: block;
  width: 80%;
  height: 3rem;
  line-height: 2.5rem;
  background: #04b7e3;
  border: 0;
  border-radius: 0.3rem;
  margin: 0.8rem auto;
  color: #fff;
  padding: 0 0.4rem;
  font-size: 1rem;
}
.register .imy {
  width: 80%;
  margin: 0.4rem auto;
  text-align: left;
  font-size: 1rem;
}
.register .imy input {
  width: 1.2rem;
}
.register .imy span {
  color: red;
}
/**************�����һ�***************/
.forget {
  width: 100%;
  text-align: center;
}
.forget input {
  border-radius: 0.4rem;
  margin: 3rem 0 1rem;
  font-size: 1rem;
}
.forget .lbtn {
  width: 70%;
  height: 2.5rem;
  border: 0;
  border-radius: 0.4rem;
  background: #fff;
  color: #f9d16a;
}
/*��������*/
.Countdown {
  width: 70%;
  font-size: 1rem;
  color: #8a8a8a;
  margin: 3rem auto 1rem;
}
.Countdown span {
  color: #e21629;
}
/*�޸�����*/
.modify {
  margin-top: 1.6rem;
}
.modify > input.inputAll {
  background: #fff;
}
.modify .btnAll {
  background: #04b7e3;
  color: #fff;
}
/*ѡ�񣨳��ң�*/
.listManufa {
  width: 100%;
  margin-top: 0.4rem;
}
.listManufa ul li {
  line-height: 3.1rem;
  padding-left: 1rem;
  background: #fff;
  margin-bottom: 0.4rem;
  font-size: 1rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.listManufa ul li.active {
  background: #eee;
}
.listManufa ul li img {
  float: right;
  margin: 1.2rem 1rem 0 0;
  width: 0.4rem;
}
/*ѡ�񳧼�*/
.erjicai {
  width: 100%;
  margin-top: 0.4rem;
  position: absolute;
  top: 0;
  left: 100%;
  background: #eee;
}
.erjicai ul li {
  line-height: 3.1rem;
  padding-left: 1rem;
  margin-bottom: 0.4rem;
  font-size: 1rem;
}
.erjicai ul li img {
  float: right;
  margin: 1.2rem 1rem 0 0;
  width: 0.4rem;
}
